*~
*.qpf
*.qsf
*.sdc
*.qws
*.rpt
*.done
*.jdi
*.fit.*
*.map.*
*.pin
*.sld
*.sof
*.sta.*
c5_pin_model_dump.text


/Hardware/output_files/**
!/Hardware/output_files/*.rbf
/Hardware/db/**
/Hardware/incremental_db/**

